<!DOCTYPE html>
<html>
    <head>
    <style>
        main { 
            font-family: Helvetica, "sans-serif";
            background-color: #e8ffef;
            background-blend-mode: lighten;
            padding: 10px;
            margin: 10px;
            min-width: 715px;
            width: 60%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 10px 10px 8px grey;
        }
        
        code {
            padding: 12px;
            outline: auto;
            outline-style: solid;
            outline-color: black;
            outline-width: thin;
            width: 200px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
    </head>
	<body onload="updateExtract()">
	
	<script>
		var courseURL=""
		var style=""
		var mode=""
		var height=""
		var width=""
		var iframe = ""

		function courseURL_Entered(val) {
			courseURL = val;
			updateExtract();
		}
		
		function styleRadioClick(sourceRad) {
			var rowRad = document.getElementById("rowRad");
			var colRad = document.getElementById("colRad");
			
			if (sourceRad == rowRad) {
				if (rowRad.checked == true) {
					colRad.checked = false;
					style="row";
					height="180px";
					width="100%";
				}
				else {
					colRad.checked = true;
					style="column";
					height="245px";
					width="210px";
				}
			}
			else {
				if (colRad.checked == true) {
					rowRad.checked = false;
					style = "column";
					height="245px";
					width="210px";
				}
				else {
					rowRad.checked = true;
					style = "row";
					height="180px";
					width="100%";
				}
			}
			updateExtract();
		}
		
		function modeRadioClick(sourceRad) {
			var lightRad = document.getElementById("lightRad"); 
			var darkRad = document.getElementById("darkRad");
			
			if (sourceRad == lightRad) {
				if (lightRad.checked == true) {
					darkRad.checked = false;
					mode="false";
				}
				else {
					darkRad.checked = true;
					mode="true";
				}
			}
			else {
				if (darkRad.checked == true) {
					lightRad.checked = false;
					mode = "true";
				}
				else {
					lightRad.checked = true;
					mode = "false";
				}
			}
			updateExtract();
		}
		
		function updateExtract() {
			var extract = document.getElementById("extract");
			//var text="&lt;iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=" + mode + "&direction=" + style + "&courseID=" + courseURL + "' style=\"height:- " + height + "px;\" width='100%' &gt; &lt;/iframe&gt";
			//var text="&lt;iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=" + mode + "&direction=" + style + "&courseID=" + courseURL + "' height:\" "+ height +" \"+ \"width=  +width + &gt; &lt;/iframe&gt";
			
			var text = `&lt;iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=${mode}&direction=${style}&courseID=${courseURL}' height='${height}' width='${width}' &gt; &lt;/iframe&gt`
			extract.innerHTML = text;
		}
		</script>
		<!--
	<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=light&direction=row&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry' height='100' width='100'> </iframe>
	<iframe src = "http://127.0.0.1:3000/build/index.html?darkmode=light&direction=row&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry" height='100' width='100'> </iframe>

<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=true&direction=column&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry' height='245px' width='210px'> </iframe>


-->		
<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=false&direction=column&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry'  height="245px" width='210px' > </iframe> <!--COLUMN OPTION-->
<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=false&direction=column&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry'  height="245px" width='210px' > </iframe> <!--COLUMN OPTION-->

<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=false&direction=row&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry' height="180px" width='100%' > </iframe> <!--ROW OPTION-->
<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=true&direction=row&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry' height="180px" width='100%' > </iframe> <!--DARK ROW OPTION-->
<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=true&direction=column&courseID=https://alpha.nextthought.com/dataserver2/++etc++hostsites/alpha.nextthought.com/++etc++site/Courses/DefaultAPICreated/OUCS-1/CourseCatalogEntry'  height="245px" width='210px' > </iframe> <!--Dark COLUMN OPTION-->
<div> 
			<div>
				<main >
					<h1>Course Card Builder</h1>
					<hr/>
					<br/>
					<h3>Course URL</h3>
					<input type="text" name="CourseURL" onchange="courseURL_Entered(this.value)">
					<br/>
					<h3>Style</h3>
					<input type="radio" value="row" id="rowRad" onchange="styleRadioClick(this)">
					<label>Row</label>
					<input type="radio" value="col" id="colRad" onchange="styleRadioClick(this)">
					<label>Column</label>
					<br/>
					<h3>Mode</h3>
					<input type="radio" value="light" id="lightRad" onchange="modeRadioClick(this)">
					<label>Light</label>
					<input type="radio" value="dark" id="darkRad" onchange="modeRadioClick(this)">
					<label>Dark</label>
					<br/>
					<h3>Copy the text below into your page. ...</h3>
					<pre><code id="extract"></code></pre>
				</main>
					<!--<center>
					<h3>Example Widget</h3>
					
					<iframe src = 'http://127.0.0.1:3000/build/index.html?darkmode=light&direction=row&courseID=' scrolling="no" height='100%' style="width: 310px; "></iframe></center>-->
			</div>
		</div>
	</body>
</html>
 